<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <h1> <%= title %> </h1>
      <h2> Visualise the locational information </h2>
    </div>
    <p> The data for visualisations is obtained from the UK police API. Documentation for this API can be found <a href="https://data.police.uk/docs/">here.</a>
    <div class="content-unit">
      <div class="content-unit__header">
        <h3>UK crime heatmaps by crime type (excluding Scotland)</h3>
      </div>
      <div class="content-unit__left form-content">
        <form onsubmit="return false;">
          <% include partials/form_content %>
        </form> 
      </div>
      <div class="content-unit__right map-content">
        <div id="map"></div>
      </div>
    </div>
    <div class="content-unit">
      <div class="content-unit__header">
        <h3>UK crime charts by crime type (excluding Scotland) for January 2016</h3>
      </div>
      <div class="content-unit__left chart-content">
        <div class="ct-chart ct-perfect-fourth"></div>
      </div>
      <div class="content-unit__right">
      </div>
    </div>
    <script>
    var map, heatmap, heatMapData, heatMapDataFull;
    var keepOverlays = false;
    var overlaysArray = [];

    function clearOverlays() {
      for (var i=0; i<overlaysArray.length; i++ ) {
        overlaysArray[i].setMap(null);
      }
      overlaysArray.length = 0;
    }

    function DateControl(controlDiv) {

      var numberOfButtons = <%- all_dates.length %>
      var allDates = <%- JSON.stringify(all_dates) %>
      controlDiv.style.clear = 'both';

      for (var i=0; i<numberOfButtons; i++){
        dateButton = document.createElement('button');
        dateButton.className = 'date_button';
        dateButton.innerHTML = allDates[i];
        dateButton.addEventListener('click', function() {
          var newDate = this.innerHTML;
          updateHeatMap(heatMapDataFull, newDate);
          if (keepOverlays){
            this.className += ' clicked_date_button';
          } else {
            toggleClassName(this, 'date_button', 'clicked_date_button');
          }
        });
        controlDiv.appendChild(dateButton);
      }
      dateButton.className += ' clicked_date_button';
    }

    function OverlayControl(controlDiv) {
      var checkboxInput = document.createElement('input');
      checkboxInput.setAttribute('type', 'checkbox');
      checkboxInput.addEventListener('change', function() {
        if (checkboxInput.checked){
          keepOverlays = true;
        } else {
          keepOverlays = false;
        }
      });
      var text = document.createElement('span');
      text.innerHTML = 'Do not clear overlays';
      controlDiv.appendChild(checkboxInput);
      controlDiv.appendChild(text);
    }

    function toggleClassName(currentElement, baseClass, toggleClass){
      var allElements = document.getElementsByClassName(baseClass);
      for (var i=0; i<allElements.length; i++){
        allElements[i].className = baseClass;
      }
      currentElement.className += ' '+toggleClass;
    }

   
    function set_heat_map_data(){
      var heatmap_choice_radios = document.getElementsByName('heatmap_choice');
      for (var i = 0, length = heatmap_choice_radios.length; i < length; i++) {
        if (heatmap_choice_radios[i].checked) {
          if (heatmap_choice_radios[i].value === 'violent-crime'){
            heatMapDataFull = <%- JSON.stringify(violent_crime_heatmap_data) %>;
            updateHeatMap(heatMapDataFull,'2016-04');
          } else if (heatmap_choice_radios[i].value === 'anti-social-behaviour'){
            heatMapData = <%- JSON.stringify(anti_social_behaviour_heatmap_data) %>;
            updateHeatMap(heatMapDataFull,'2016-04');
          } 
        }
      }
    }

    function updateHeatMap(heatmapDataFull, newDate){
      // clear the old overlay
      if (!keepOverlays){
        clearOverlays();
      }
      // construct the new overlay
      var heatmapData = JSON.parse(heatmapDataFull[newDate]);
      for (var i=0; i< heatmapData.length; i++){
        heatmapData[i].location = new google.maps.LatLng(heatmapData[i].location[1], heatmapData[i].location[0]);
      }

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatmapData,
        map: map
      });
      overlaysArray.push(heatmap);
      heatmap.setMap(heatmap.getMap()); 
    }

    function initMap() {
      if (!heatMapData){
        heatMapData = <%- violent_crime_heatmap_data['2016-04'] %>;
        heatMapDataFull = <%- JSON.stringify(violent_crime_heatmap_data) %>;
      }

      for (var i=0; i< heatMapData.length; i++){
        heatMapData[i].location = new google.maps.LatLng(heatMapData[i].location[1], heatMapData[i].location[0]);
      }

      // set the map center
      var leicester = new google.maps.LatLng(52.629729, -1.131592);

      // create the map
      var mapDiv = document.getElementById('map');
      map = new google.maps.Map(mapDiv, {
        center: leicester,
        zoom: 6,
        zoomControl: true,
        mapTypeControl: false,
      });
      // construct the map overlay
      heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatMapData,
        map: map
      });
      overlaysArray.push(heatmap);

      // construct custom map controls
      var dateControlDiv = document.createElement('div');
      var dateControl = new DateControl(dateControlDiv);
      var overlayControlDiv = document.createElement('div');
      overlayControlDiv.className = 'overlay-control';
      var overlayControl = new OverlayControl(overlayControlDiv);

      dateControlDiv.index = 1;
      dateControlDiv.style['padding-top'] = '10px';
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(dateControlDiv);
      map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(overlayControlDiv);
      heatmap.setMap(heatmap.getMap());
    } 
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1K2OVJWLAZvnNT6Ae_ZOdsE9F_9uTBLY&libraries=visualization&callback=initMap" async defer></script>
    <script>
      var data = {
        labels:  <%-JSON.stringify(crime_categories)%>,
        series: [<%= no_of_crimes_in_category %>]        
      };

      var options = {
        labelInterpolationFnc: function(value) {
          return value[0]
        }
      };

      var responsiveOptions = [
        ['screen and (min-width: 640px)', {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            return value;
          }
        }],
        ['screen and (min-width: 1024px)', {
          labelOffset: 80,
          chartPadding: 20
        }]
      ];
      new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
    </script>
  </body>
</html>

