<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <h1> <%= title %> </h1>
      <h2> Visualise the locational information </h2>
    </div>
    <p> The data for visualisations is obtained from the UK police API. Documentation for this API can be found <a href="https://data.police.uk/docs/">here.</a>
    <div class="content-unit">
      <div class="content-unit__header">
        <h3>UK crime heatmaps by crime type (excluding Scotland)</h3>
      </div>
      <div class="content-unit__left form-content">
        <form onsubmit="return false;">
          <input type="radio" name="heatmap_choice" value="violent-crime"  checked = "checked" onchange="set_heat_map_data()"> Violent Crime </br>
          <input type="radio" name="heatmap_choice" value="anti-social-behaviour" onchange="set_heat_map_data()"> Anti-social behaviour </br>
          <input type="radio" name="heatmap_choice" value="vehicle-crime" onchange="set_heat_map_data()"> Vehicle Crime </br>
          <input type="radio" name="heatmap_choice" value="theft-from-the-person" onchange="set_heat_map_data()"> Theft from the person </br>
          <input type="radio" name="heatmap_choice" value="shoplifting" onchange="set_heat_map_data()"> Shoplifting </br>
          <input type="radio" name="heatmap_choice" value="robbery" onchange="set_heat_map_data()"> Robbery </br>
          <input type="radio" name="heatmap_choice" value="public-order" onchange="set_heat_map_data()"> Public Order </br>
          <input type="radio" name="heatmap_choice" value="possession-of-weapons" onchange="set_heat_map_data()"> Possesion of weapons </br>
          <input type="radio" name="heatmap_choice" value="drugs" onchange="set_heat_map_data()"> Drugs </br>
          <input type="radio" name="heatmap_choice" value="criminal-damage-arson" onchange="set_heat_map_data()"> Criminal Damage - Arson </br>
          <input type="radio" name="heatmap_choice" value="burglary" onchange="set_heat_map_data()"> Burglary </br>
          <input type="radio" name="heatmap_choice" value="bicycle-theft" onchange="set_heat_map_data()"> Bicycle Theft </br>
          <input type="radio" name="heatmap_choice" value="other-theft" onchange="set_heat_map_data()"> Other Theft </br>
          <input type="radio" name="heatmap_choice" value="other-crime" onchange="set_heat_map_data()"> Other Crime </br>
        </form> 
      </div>
      <div class="content-unit__right map-content">
        <div id="map"></div>
      </div>
    </div>
    <div class="content-unit">
      <div class="content-unit__header">
        <h3>UK crime charts by crime type (excluding Scotland)</h3>
      </div>
      <div class="content-unit__left chart-content">
        <div class="ct-chart ct-perfect-fourth"></div>
      </div>
      <div class="content-unit__right">
      </div>
    </div>
    <script>
    var map, heatmap, heatMapData;
    
    function set_heat_map_data(){
      var heatmap_choice_radios = document.getElementsByName('heatmap_choice');
      for (var i = 0, length = heatmap_choice_radios.length; i < length; i++) {
        if (heatmap_choice_radios[i].checked) {
          if (heatmap_choice_radios[i].value === 'violent-crime'){
            heatMapData = <%- violent_crime_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'anti-social-behaviour'){
            heatMapData = <%- anti_social_behaviour_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'vehicle-crime'){
            heatMapData = <%- vehicle_crime_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'other-crime'){
            heatMapData = <%- other_crime_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'theft-from-the-person'){
            heatMapData = <%- theft_from_person_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'shoplifting'){
            heatMapData = <%- shoplifting_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'robbery'){
            heatMapData = <%- robbery_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'public-order'){
            heatMapData = <%- public_order_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'possession-of-weapons'){
            heatMapData = <%- possession_of_weapons_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'other-theft'){
            heatMapData = <%- other_theft_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'drugs'){
            heatMapData = <%- drugs_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'criminal-damage-arson'){
            heatMapData = <%- arson_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'burglary'){
            heatMapData = <%- burglary_heatmap_data %>;
            initMap();
          } else if (heatmap_choice_radios[i].value === 'bicycle-theft'){
            heatMapData = <%- bicycle_theft_heatmap_data %>;
            initMap();
          }
        }
      }
    }

    function initMap() {
      if (!heatMapData){
        heatMapData = <%- violent_crime_heatmap_data %>;
      }

      for (var i=0; i< heatMapData.length; i++){
        heatMapData[i].location = new google.maps.LatLng(heatMapData[i].location[1], heatMapData[i].location[0]);
      }

      var leicester = new google.maps.LatLng(52.629729, -1.131592);

      var mapDiv = document.getElementById('map');
      map = new google.maps.Map(mapDiv, {
        center: leicester,
        zoom: 6,
        zoomControl: true
      });
      heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatMapData,
        map: map
      });
      console.log("executing initMap...");
    } 
    setTimeout(function(){heatmap.setMap(heatmap.getMap()); console.log('executing setMap...')}, 500);
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1K2OVJWLAZvnNT6Ae_ZOdsE9F_9uTBLY&libraries=visualization&callback=initMap" async defer></script>
    <script>
      var data = {
        labels:  <%-JSON.stringify(crime_categories)%>,
        series: [<%= no_of_crimes_in_category %>]        
      };

      var options = {
        labelInterpolationFnc: function(value) {
          return value[0]
        }
      };

      var responsiveOptions = [
        ['screen and (min-width: 640px)', {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            return value;
          }
        }],
        ['screen and (min-width: 1024px)', {
          labelOffset: 80,
          chartPadding: 20
        }]
      ];
      new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
    </script>
  </body>
</html>

