extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each val, index in crime_categories
      li= val + ': ' + no_of_crimes_in_category[index]
  #map
  script.
    #{init_map}
  script(src=map_endpoint, async, defer)    
