<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p><%= title %> rocks </p>
    <div class="ct-chart ct-perfect-fourth"></div>
    <div id="map"></div>
    <script>
    var map, heatmap;
    function initMap() {
      var heatMapData = <%- violent_crime_heatmap_data %>;

      for (var i=0; i< heatMapData.length; i++){
        heatMapData[i].location = new google.maps.LatLng(heatMapData[i].location[1], heatMapData[i].location[0]);
      }

      var leicester = new google.maps.LatLng(52.629729, -1.131592);

      var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
        center: leicester,
        zoom: 6
      });

      heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatMapData,
        map: map
      });
    } 
    heatmap.setMap(heatmap.getMap());
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&callback=initMap" async defer></script>
    <script>
      var data = {
        labels:  <%-JSON.stringify(crime_categories)%>,
        series: [<%= no_of_crimes_in_category %>]        
      };

      var options = {
        labelInterpolationFnc: function(value) {
          return value[0]
        }
      };

      var responsiveOptions = [
        ['screen and (min-width: 640px)', {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            return value;
          }
        }],
        ['screen and (min-width: 1024px)', {
          labelOffset: 80,
          chartPadding: 20
        }]
      ];
      new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
    </script>
  </body>
</html>

